@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Bodoni;
  font-display: swap;
  src: url(../fonts/bodonbk.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: SourceSansPro;
  font-display: swap;
  src: url(../fonts/SourceSansPro-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: SourceSansPro;
  font-display: swap;
  src: url(../fonts/SourceSansPro-Semibold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
[class*=icon-]::before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.icon-call:before {
  content: ""
}
.icon-inst:before {
  content: ""
}
.icon-face:before {
  content: ""
}
.icon-mail:before {
  content: ""
}
.icon-map:before {
  content: ""
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: SourceSansPro,sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: SourceSansPro,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 65.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,64rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
[class*=icon-]::before {
  color: var(--linkcolor)
}
body {
  color: var(--text-col)
}
[class*=__container] {
  padding-top: 4em;
  padding-bottom: 4em
}
.footer__logo,
.titlepage__logo {
  max-width: var(--logo-width)
}
.footer__logo img,
.titlepage__logo img {
  max-width: 100%
}
.about__article,
.footer-info,
.infolist,
.titlebox {
  display: flex;
  flex-direction: column;
  align-items: center
}
.service__link,
.titlebox {
  position: relative
}
.service__link::before,
.titlebox::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: var(--linkcolor);
  height: .0625rem;
  width: 0;
  transition: width .7s ease .2s
}
.advantage__body,
.contacts__body,
.footer__body,
.service__body {
  display: grid;
  row-gap: 4em;
  justify-items: center
}
.vk-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  background-color: var(--linkcolor);
  border-radius: .25em .25em .25em 0
}
.vk-link::before {
  content: "B.";
  font-size: .5em;
  color: #fff;
  font-weight: 600
}
.card__image img,
.service__image img {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-animation: rotation 1s linear 0s infinite;
  animation: rotation 1s linear 0s infinite
}
.card-load .card__image img,
.card-load .service__image img,
.card__image .card-load img,
.service__image .card-load img {
  -webkit-animation: none;
  animation: none
}
.about__article,
.advantage__section,
.advantage__titlebox,
.contacts__body,
.footer__body,
.service__body,
.titlepage__content {
  transition: -webkit-transform .5s linear 1s;
  transition: transform .5s linear 1s;
  transition: transform .5s linear 1s,-webkit-transform .5s linear 1s;
  -webkit-transform: scale(.9);
  transform: scale(.9)
}
.anima.about__article,
.anima.advantage__section,
.anima.advantage__titlebox,
.anima.contacts__body,
.anima.footer__body,
.anima.service__body,
.anima.titlepage__content {
  transition: -webkit-transform .5s linear 0s;
  transition: transform .5s linear 0s;
  transition: transform .5s linear 0s,-webkit-transform .5s linear 0s;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.titlebox {
  row-gap: .5em;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 2em
}
.titlebox.anima::before {
  width: 7.5em
}
.titlebox__title {
  font-family: Bodoni,sans-serif;
  line-height: 150%
}
.titlebox__subtitle {
  line-height: 80%
}
.button {
  background-image: linear-gradient(90deg,var(--btn-hover-col) 25%,var(--linkcolor) 50%,var(--linkcolor) 75%);
  background-size: 400%;
  background-position: 75% 0;
  color: var(--darkwhite);
  display: inline-flex;
  padding: .5em 1em;
  border-radius: .25rem;
  transition: background-position 1s linear 0s
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em
}
.social__item {
  display: flex
}
.social__link {
  height: 1em;
  transition: all var(--anima-duration) ease 0s
}
.contact-line__link,
.infolist__link,
.service__link {
  transition: text-shadow var(--anima-duration) ease 0s
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: translate(-50%,-50%) rotate(0);
    transform: translate(-50%,-50%) rotate(0)
  }
  100% {
    -webkit-transform: translate(-50%,-50%) rotate(360deg);
    transform: translate(-50%,-50%) rotate(360deg)
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: translate(-50%,-50%) rotate(0);
    transform: translate(-50%,-50%) rotate(0)
  }
  100% {
    -webkit-transform: translate(-50%,-50%) rotate(360deg);
    transform: translate(-50%,-50%) rotate(360deg)
  }
}
@-webkit-keyframes easy-pendulum {
  25% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg)
  }
  50% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  75% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg)
  }
}
@keyframes easy-pendulum {
  25% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg)
  }
  50% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  75% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg)
  }
}
.contact-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .3125rem
}
.contact-line__item {
  letter-spacing: .8px
}
.contact-line__item:not(:first-child)::before {
  content: " /"
}
.contact-line__link {
  white-space: nowrap
}
.footer-info {
  row-gap: 1em;
  letter-spacing: .8px
}
.footer-info__item a {
  font-weight: 600
}
.titlepage {
  min-height: 100vh;
  position: relative
}
.titlepage__bg,
.titlepage__bg img,
.titlepage__bg::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.titlepage__bg::before {
  content: "";
  z-index: 1;
  background-color: rgba(0,0,0,.6)
}
.titlepage__bg img {
  -o-object-fit: cover;
  object-fit: cover
}
.titlepage__container {
  max-width: 40rem;
  position: relative;
  z-index: 5;
  row-gap: 15.533981vh
}
.titlepage__container,
.titlepage__content,
.titlepage__header {
  display: flex;
  flex-direction: column
}
.titlepage__content,
.titlepage__header {
  align-items: center
}
.titlepage__header {
  color: var(--darkwhite);
  row-gap: 2em
}
.titlepage__title {
  font-family: Bodoni;
  text-align: center
}
.titlepage__label {
  letter-spacing: 3.6px
}
.titlepage__content {
  color: var(--titlepage-text-col);
  row-gap: 1.25em;
  text-transform: uppercase
}
.page-nav__list {
  display: flex;
  flex-wrap: wrap;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  align-items: center;
  row-gap: .5em
}
.page-nav__link {
  transition: all var(--anima-duration) linear 0s
}
.about__container {
  display: flex;
  justify-content: center
}
.about__article {
  flex-basis: 37.375rem;
  row-gap: 2em
}
.about__text {
  font-size: 1.25em;
  line-height: 150%;
  letter-spacing: 1px;
  text-align: center;
  color: var(--abouttextcol)
}
.contacts {
  background-color: var(--darkwhite)
}
.infolist {
  row-gap: 2.25em
}
.infolist__item {
  letter-spacing: .8px
}
.infolist__link {
  display: flex;
  align-items: center;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em
}
.infolist__link::before {
  font-size: 1.5em;
  width: 1em;
  text-shadow: none
}
.advantage__section {
  display: grid;
  row-gap: 2em
}
.advantage__section-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.6px
}
.advantage__board {
  display: flex;
  flex-wrap: wrap;
  gap: 1em
}
.card {
  border-radius: .25rem;
  overflow: hidden;
  flex-basis: 18.1875rem;
  background-color: rgba(0,0,0,.2)
}
.card__image {
  position: relative;
  aspect-ratio: 291/286
}
.card__image img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover
}
.card-load .card__image img {
  width: 100%;
  height: 100%
}
.card__caption {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.2);
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  letter-spacing: 4.2px;
  text-align: center;
  color: var(--cardtextcol);
  opacity: 0;
  visibility: hidden
}
.card-load .card__caption {
  opacity: 1;
  visibility: visible
}
.service {
  background-color: var(--darkwhite)
}
.service__contant {
  max-width: 57.8125rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  -webkit-column-gap: 8em;
  -moz-column-gap: 8em;
  column-gap: 8em;
  row-gap: 6em
}
.service__item {
  display: grid;
  row-gap: 1em;
  justify-items: center
}
.service__image {
  height: 4rem
}
.service__image img {
  position: relative;
  max-width: 100%;
  max-height: 100%
}
.service__caption,
.service__link {
  letter-spacing: 1px;
  font-size: 1.25em
}
.service__link {
  text-transform: uppercase;
  padding-bottom: .5rem
}
.service__link.anima::before {
  width: 100%
}
@media (min-width:48.03125em) {
  .titlepage__title {
    line-height: 118.76%
  }
  .card:nth-child(6n+3),
  .card:nth-child(6n+4) {
    flex-basis: 25.5rem
  }
  .card:nth-child(6n+3) .card__image,
  .card:nth-child(6n+4) .card__image {
    aspect-ratio: 408/286
  }
}
@media (min-width:65.875em) {
  [class*=__container] {
    font-size: 1rem
  }
  .titlebox__title {
    font-size: 4rem
  }
  .titlepage__title {
    font-size: 6rem
  }
  .titlepage__label {
    font-size: 1.5rem
  }
  .advantage__container {
    padding-bottom: 6.625rem
  }
  .advantage__section-title {
    font-size: 1.5rem
  }
  .card__caption {
    font-size: 1.75rem
  }
}
@media (max-width:48em)and (min-height:48.03125em) {
  .titlepage {
    min-height: 0
  }
  .titlepage__container {
    min-height: 0;
    row-gap: 1em;
    padding-top: .9375rem;
    padding-bottom: .9375rem
  }
}
@media (max-width:48em) {
  .titlepage__container {
    row-gap: 10vh
  }
  .card__caption {
    background-color: rgba(0,0,0,.3)
  }
  .service__contant {
    row-gap: 4em
  }
}
@media (max-width:48em)and (min-height:37.53125em) {
  .titlepage__title {
    font-size: 4rem
  }
}
@media (max-width:20em) {
  [class*=__container] {
    font-size: .8125rem
  }
  .titlebox__title {
    font-size: 2rem
  }
  .titlepage__title {
    font-size: 2.625rem
  }
  .titlepage__label {
    font-size: 1.125rem
  }
  .advantage__container {
    padding-bottom: 4rem
  }
  .advantage__section-title {
    font-size: 1rem
  }
  .card__caption {
    font-size: .875rem
  }
}
@media (max-width:65.875em) {
  .service__contant {
    -webkit-column-gap: 12.144213vw;
    -moz-column-gap: 12.144213vw;
    column-gap: 12.144213vw
  }
}
@media (max-width:37.5em) {
  .advantage__board {
    gap: .625em
  }
  .card {
    flex-basis: 16.5rem
  }
  .card:nth-child(4n+2),
  .card:nth-child(4n+3) {
    flex-basis: 18.125rem
  }
  .card:nth-child(4n+2) .card__image,
  .card:nth-child(4n+3) .card__image {
    aspect-ratio: 290/248
  }
  .card__image {
    aspect-ratio: 264/248
  }
  .card__caption {
    background-color: rgba(0,0,0,.4)
  }
}
@media (min-width:20em)and (max-width:65.875em) {
  [class*=__container] {
    font-size: clamp(.8125rem ,.7307561308rem + .408719346vw ,1rem)
  }
  .titlebox__title {
    font-size: clamp(2rem ,1.1280653951rem + 4.3596730245vw ,4rem)
  }
  .titlepage__title {
    font-size: clamp(2.625rem ,1.1536103542rem + 7.3569482289vw ,6rem)
  }
  .titlepage__label {
    font-size: clamp(1.125rem ,.9615122616rem + .8174386921vw ,1.5rem)
  }
  .advantage__container {
    padding-bottom: clamp(4rem ,2.8555858311rem + 5.7220708447vw ,6.625rem)
  }
  .advantage__section-title {
    font-size: clamp(1rem ,.7820163488rem + 1.0899182561vw ,1.5rem)
  }
  .card__caption {
    font-size: clamp(.875rem ,.4935286104rem + 1.9073569482vw ,1.75rem)
  }
}
@media (max-width:48em)and (min-width:37.53125em) {
  .card {
    flex-basis: 13.625rem
  }
  .card:nth-child(6n+3),
  .card:nth-child(6n+4) {
    flex-basis: 16.9375rem
  }
  .card:nth-child(6n+3) .card__image,
  .card:nth-child(6n+4) .card__image {
    aspect-ratio: 271/214
  }
  .card__image {
    aspect-ratio: 218/214
  }
}
@media (any-hover:hover) {
  .button:hover {
    background-position: 0 0
  }
  .social__link:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    --linkcolor: var(--btn-hover-col)
  }
  .contact-line__link:hover,
  .infolist__link:hover,
  .service__link:hover {
    text-shadow: 0 1px 2px var(--linkcolor)
  }
  .infolist__link:hover::before {
    --linkcolor: var(--btn-hover-col);
    -webkit-animation: easy-pendulum var(--anima-duration) linear 0s;
    animation: easy-pendulum var(--anima-duration) linear 0s
  }
  .page-nav__link:hover {
    text-shadow: 1px 1px 2px var(--btn-hover-col),-1px -1px 2px var(--btn-hover-col);
    color: var(--white)
  }
  .card:hover .card__caption {
    background-color: rgba(0,0,0,.7)
  }
  .card__caption {
    transition: background-color .7s linear 0s
  }
}
@media (max-height:28.125em) {
  .titlepage__container {
    row-gap: 1em;
    padding-top: .9375rem;
    padding-bottom: .9375rem
  }
  .titlepage__header {
    row-gap: 1em
  }
  .titlepage__title {
    font-size: 2.625rem
  }
}
